body {
  height: 250px;
  width: 250px;
}
.icon {
  height: 50px;
  width: 50px;
}
button {
  background-color: rgb(34, 165, 34); /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 5px;
}
button:hover {
  background-color: rgb(26, 124, 26);
}
